@model List<QuickStart.WebUI.Models.ResultFAQDto>
@{
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Soru</th>
            <th>Cevap</th>
            <th>Sıra</th>
            <th>Aktif</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FAQId</td>
                <td>@item.Question</td>
                <td>@item.Answer</td>
                <td>@item.Order</td>
                <td>@(item.IsActive ? "Evet" : "Hayır")</td>
                <td><a href="/FAQ/DeleteFAQ/@item.FAQId" class="btn btn-danger">Sil</a></td>
                <td><a href="/FAQ/UpdateFAQ/@item.FAQId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/FAQ/CreateFAQ" class="btn btn-info">Yeni Soru</a>
</div>
