@model List<QuickStart.WebUI.Dtos.Testimonials.ResultTestimonialDto>
@{
    ViewData["Title"] = "Müşteriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Müşteriler (Testimonial) Yönetimi</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Resim</th>
                            <th>Ad Soyad</th>
                            <th>Meslek/Unvan</th>
                            <th>Yorum</th>
                            <th>Puan</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.testimonialId</td>
                                <td>
                                    <img src="@item.imageUrl" alt="image" style="width:40px;height:40px;border-radius:50%;" />
                                </td>
                                <td>@item.fullName</td>
                                <td>@item.title</td>
                                <td>@(item.description.Length > 30 ? item.description.Substring(0, 30) + "..." : item.description)</td>
                                <td>@item.rate</td>
                                <td><a href="/Testimonial/Delete/@item.testimonialId" class="btn btn-danger">Sil</a></td>
                                <td><a href="/Testimonial/Edit/@item.testimonialId" class="btn btn-success">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/Testimonial/Create" class="btn btn-primary">Yeni Müşteri Yorumu Ekle</a>
            </div>
        </div>
    </div>
</div>
