@model List<QuickStart.WebUI.Models.ResultContactInfoDto>
@{
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Adres</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Map</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ContactInfoId</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.MapLocation</td>
                <td><a href="/ContactInfo/DeleteContactInfo/@item.ContactInfoId" class="btn btn-danger">Sil</a></td>
                <td><a href="/ContactInfo/UpdateContactInfo/@item.ContactInfoId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/ContactInfo/CreateContactInfo" class="btn btn-info">Yeni İletişim</a>
</div>
