@model List<QuickStart.WebUI.Models.ResultChefDto>
@{
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Ünvan</th>
            <th>Resim</th>
            <th>Sıra</th>
            <th>Aktif</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ChefId</td>
                <td>@item.FullName</td>
                <td>@item.Title</td>
                <td>@item.ImageUrl</td>
                <td>@item.Order</td>
                <td>@(item.IsActive ? "Evet" : "Hayır")</td>
                <td><a href="/Chef/DeleteChef/@item.ChefId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Chef/UpdateChef/@item.ChefId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Chef/CreateChef" class="btn btn-info">Yeni Şef</a>
</div>
