@model List<QuickStart.WebUI.Models.ResultSliderDto>
@{
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Resim</th>
            <th>Aktif</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SliderId</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.ImagesUrl</td>
                <td>@(item.IsActive ? "Evet" : "Hayır")</td>
                <td><a href="/Slider/DeleteSlider/@item.SliderId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Slider/UpdateSlider/@item.SliderId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Slider/CreateSlider" class="btn btn-info">Yeni Slider</a>
</div>
