@model List<QuickStart.WebUI.Models.ResultFeatureDto>
@{
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Icon</th>
            <th>Aktif</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FeatureId</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Icon</td>
                <td>@(item.IsActive ? "Evet" : "Hayır")</td>
                <td><a href="/Feature/DeleteFeature/@item.FeatureId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Feature/UpdateFeature/@item.FeatureId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Feature/CreateFeature" class="btn btn-info">Yeni Özellik</a>
</div>
