@model List<QuickStart.WebUI.Dtos.Features.ResultFeatureDto>
@{
    ViewData["Title"] = "Öne Çıkanlar (Feature)";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Öne Çıkanlar Yönetimi</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Açıklama</th>
                            <th>İkon</th>
                            <th>Durum</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FeatureId</td>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td><i class="@item.Icon"></i> (@item.Icon)</td>
                                <td>@(item.IsActive ? "Aktif" : "Pasif")</td>
                                <td><a href="/Feature/Delete/@item.FeatureId" class="btn btn-danger">Sil</a></td>
                                <td><a href="/Feature/Edit/@item.FeatureId" class="btn btn-success">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/Feature/Create" class="btn btn-primary">Yeni Ekle</a>
            </div>
        </div>
    </div>
</div>
